<form action="/records/{{record._id}}?_method=PUT" method="POST">

  <div class="container mt-5">
    <div class="row justify-content-center">

      {{!-- title --}}
      <div class="form-row col-12 justify-content-center mb-5">
        <label class="text-center mr-2" for="name">*必填欄位
        </label>
        <h5 class="text-center col-3 mr-2" for="name">修改支出</h5>
      </div>

      {{!-- name --}}
      <div class="form-row col-12 justify-content-center mb-5">
        <label class="text-center mr-2" for="name">名稱*：
        </label>
        <input class="form-control col-3" type="text" name="name" id="name" value="{{ record.name }}" required>
      </div>

      {{!-- date --}}
      <div class="form-row col-12 justify-content-center mb-5">
        <label class="text-center mr-2" for="name">日期*：
        </label>
        <input class="form-control col-3" type="date" name="date" id="date" value="{{record.date}}" required>
      </div>

      {{!-- category --}}
      <div class="form-row col-12 justify-content-center mb-5">
        <label class="text-center mr-2" for="category">類別*：</label>
        <select class="col-3" name="category" id="category" required>
          <option value="家居物業" {{#ifEqual record.category '家居物業' }} selected {{/ifEqual}}>家居物業</option>
          <option value="交通出行" {{#ifEqual record.category '交通出行' }} selected {{/ifEqual}}>交通出行</option>
          <option value="休閒娛樂" {{#ifEqual record.category '休閒娛樂' }} selected {{/ifEqual}}>休閒娛樂</option>
          <option value="餐飲食品" {{#ifEqual record.category '餐飲食品' }} selected {{/ifEqual}}>餐飲食品</option>
          <option value="其他" {{#ifEqual record.category '其他' }} selected {{/ifEqual}}>其他</option>
        </select>
      </div>

      {{!-- amount --}}
      <div class="form-row col-12 justify-content-center mb-5">
        <label class="text-center mr-2" for="name">金額*：
        </label>
        <input class="form-control col-3" type="number" name="amount" id="amount" value="{{record.amount}}" required>
      </div>

      {{!-- submit button --}}
      <div class="form-row col-12 justify-content-center mb-5">
        <button type="submit" class="btn btn-dark">
          修改
        </button>
      </div>

    </div>
  </div>

</form>